.label {
    fill: "white";
    font-family: sans-serif;
    text-anchor: end;
}

.column .label {
    text-anchor: start;
}

rect {
    stroke-width: 1;
    stroke: rgb(131, 131, 131);
}

rect:hover {
    stroke: rgb(241, 2, 2);
}